doctype true
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:o='urn:schemas-microsoft-com:office:office', xmlns:v='urn:schemas-microsoft-com:vml')
  head
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    meta(content='width=device-width', name='viewport')
    // [if !mso] <!
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    // <![endif]
    title
    // [if !mso] <!
    // <![endif]
    style(type='text/css').
      body {
      margin: 0;
      padding: 0;
      }
      table,
      td,
      tr {
      vertical-align: top;
      border-collapse: collapse;
      }
      * {
      line-height: inherit;
      }
      a[x-apple-data-detectors=true] {
      color: inherit !important;
      text-decoration: none !important;
      }
    style#media-query(type='text/css').
      @media (max-width: 720px) {
      .block-grid,
      .col {
      min-width: 320px !important;
      max-width: 100% !important;
      display: block !important;
      }
      .block-grid {
      width: 100% !important;
      }
      .col {
      width: 100% !important;
      }
      .col>div {
      margin: 0 auto;
      }
      img.fullwidth,
      img.fullwidthOnMobile {
      max-width: 100% !important;
      }
      .no-stack .col {
      min-width: 0 !important;
      display: table-cell !important;
      }
      .no-stack.two-up .col {
      width: 50% !important;
      }
      .no-stack .col.num4 {
      width: 33% !important;
      }
      .no-stack .col.num8 {
      width: 66% !important;
      }
      .no-stack .col.num4 {
      width: 33% !important;
      }
      .no-stack .col.num3 {
      width: 25% !important;
      }
      .no-stack .col.num6 {
      width: 50% !important;
      }
      .no-stack .col.num9 {
      width: 75% !important;
      }
      .video-block {
      max-width: none !important;
      }
      .mobile_hide {
      min-height: 0px;
      max-height: 0px;
      max-width: 0px;
      display: none;
      overflow: hidden;
      font-size: 0px;
      }
      .desktop_hide {
      display: block !important;
      max-height: none !important;
      }
      }
  body.clean-body(style='margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #f9f9f9;')
    //if IE
      .ie-browser
    table.nl-container(role='presentation', style='table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f9f9f9; width: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', bgcolor='#f9f9f9')
      tbody
        tr(style='vertical-align: top;', valign='top')
          td(style='word-break: break-word; vertical-align: top;', valign='top')
            //if (mso)|(IE)
              table(width='100%', cellspacing='0', cellpadding='0', border='0')
                tbody
                  tr
                    td(style='background-color:#f9f9f9', align='center')
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;', valign='top')
                                table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 0px; width: 100%;', valign='top', width='100%', height='0', cellspacing='0', cellpadding='0', border='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='0')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        .img-container.center.autowidth(style='padding-right: 0px;padding-left: 0px;', align='center')
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.autowidth(alt='Alternate text', src=host+'/images/Your_Logo.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 154px; display: block;', title='Alternate text', width='154', border='0', align='middle')
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;', valign='top')
                                table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 5px; width: 100%;', valign='top', width='100%', height='5', cellspacing='0', cellpadding='0', border='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='5')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:0px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        .img-container.center.autowidth(style='padding-right: 0px;padding-left: 0px;', align='center')
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.autowidth(alt='Alternate text', src=host+'/images/Up_pink.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 700px; display: block;', title='Alternate text', width='700', border='0', align='middle')
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffd3e0;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffd3e0;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffd3e0')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;', valign='top')
                                table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 10px; width: 100%;', valign='top', width='100%', height='10', cellspacing='0', cellpadding='0', border='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='10')
                                        span
                        .img-container.center.fixedwidth(style='padding-right: 0px;padding-left: 0px;', align='center')
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.fixedwidth(alt="I'm an image", src=host+'/images/Welcome_Email.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 175px; display: block;', title="I'm an image", width='175', border='0', align='middle')
                          //if mso
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 40px; padding-left: 40px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                          div(style='color:#191919;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;')
                            div(style='line-height: 1.5; font-size: 12px; color: #191919; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 18px;')
                              p(style='font-size: 16px; line-height: 1.5; text-align: center; word-break: break-word; mso-line-height-alt: 24px; margin: 0;')
                                strong
                                  span(style='font-size: 38px;') Hi #{name}, 
                              p(style='font-size: 16px; line-height: 1.5; text-align: center; word-break: break-word; mso-line-height-alt: 24px; margin: 0;')
                                strong
                                  span(style='font-size: 38px;') welcome to Focial!
                          //if mso
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                          div(style='color:#191919;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                            div(style='line-height: 1.2; font-size: 12px; color: #191919; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px;')
                              p(style='font-size: 18px; line-height: 1.2; text-align: center; word-break: break-word; mso-line-height-alt: 22px; margin: 0;')
                                span(style='font-size: 18px;')
                                  | Thank you for registering in our application! Please verify
                                  | your account by clicking on the link below. The link is valid only for 1
                                  | hour.
                                  br
                          center
                            a.button-container(href=link, style='padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                              div(style='text-decoration:none;display:inline-block;color:#ffffff;background-color:#3AAEE0;border-radius:36px;-webkit-border-radius:36px;-moz-border-radius:36px;width:auto; width:auto;;border-top:1px solid #3AAEE0;border-right:1px solid #3AAEE0;border-bottom:1px solid #3AAEE0;border-left:1px solid #3AAEE0;padding-top:5px;padding-bottom:5px; font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; text-align:center; mso-border-alt:none; word-break:keep-all; margin-top: 16px; margin-bottom: 16px;')
                                span(style='padding-left:30px;padding-right:30px;font-size:16px;display:inline-block;')
                                  span(style='font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;')
                                    | Verify
                                    | Email
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;', valign='top')
                                table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 0px; width: 100%;', valign='top', width='100%', height='0', cellspacing='0', cellpadding='0', border='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='0')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        .img-container.center.autowidth(style='padding-right: 0px;padding-left: 0px;', align='center')
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.autowidth(alt='Alternate text', src=host+'/images/white_down.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 700px; display: block;', title='Alternate text', width='700', border='0', align='middle')
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:0px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        .img-container.center.autowidth(style='padding-right: 0px;padding-left: 0px;', align='center')
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.autowidth(alt='Alternate text', src=host+'/images/Up_pink.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 700px; display: block;', title='Alternate text', width='700', border='0', align='middle')
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid.two-up(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffd3e0;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffd3e0;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffd3e0')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:0px;')
                  .col.num6(style='min-width: 320px; max-width: 350px; display: table-cell; vertical-align: top; width: 350px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;', valign='top')
                                table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 25px; width: 100%;', valign='top', width='100%', height='25', cellspacing='0', cellpadding='0', border='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='25')
                                        span
                        //if mso
                          table(width='100%', cellspacing='0', cellpadding='0', border='0')
                            tbody
                              tr
                                td(style='padding-right: 40px; padding-left: 40px; padding-top: 10px; padding-bottom: 25px; font-family: Tahoma, sans-serif')
                        div(style='color:#191919;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:10px;padding-right:40px;padding-bottom:25px;padding-left:40px;')
                          div(style='line-height: 1.5; font-size: 12px; color: #191919; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 18px;')
                            p(style='font-size: 30px; line-height: 1.5; text-align: center; word-break: break-word; mso-line-height-alt: 45px; margin: 0;')
                              span(style='font-size: 30px;')
                                strong
                                  span(style='') Get Our 
                            p(style='font-size: 30px; line-height: 1.5; text-align: center; word-break: break-word; mso-line-height-alt: 45px; margin: 0;')
                              span(style='font-size: 30px;')
                                strong
                                  span(style='') Mobile App
                        //if mso
                        .img-container.center.fixedwidth(style='padding-right: 0px;padding-left: 0px;', align='center')
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.fixedwidth(alt='Alternate text', src=host+'/images/App_Store_Badge_US_Black.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 175px; display: block;', title='Alternate text', width='175', border='0', align='middle')
                          div(style='font-size:1px;line-height:15px')  
                          //if mso
                        .img-container.center.fixedwidth(style='padding-right: 0px;padding-left: 0px;', align='center')
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.fixedwidth(alt='Alternate text', src=host+'/images/Google_Play_Badge_US.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 175px; display: block;', title='Alternate text', width='175', border='0', align='middle')
                          //if mso
                        table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;', valign='top')
                                table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 25px; width: 100%;', valign='top', width='100%', height='25', cellspacing='0', cellpadding='0', border='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='25')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                          table(width='100%', cellspacing='0', cellpadding='0', border='0')
                            tbody
                              tr
                                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:0px;')
                        .col.num6(style='min-width: 320px; max-width: 350px; display: table-cell; vertical-align: top; width: 350px;')
                          div(style='width:100% !important;')
                            // [if (!mso)&(!IE)] <!
                            div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                              // <![endif]
                              table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                                tbody
                                  tr(style='vertical-align: top;', valign='top')
                                    td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;', valign='top')
                                      table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 5px; width: 100%;', valign='top', width='100%', height='5', cellspacing='0', cellpadding='0', border='0', align='center')
                                        tbody
                                          tr(style='vertical-align: top;', valign='top')
                                            td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='5')
                                              span
                              .img-container.center.fixedwidth(style='padding-right: 0px;padding-left: 0px;', align='center')
                                //if mso
                                  table(width='100%', cellspacing='0', cellpadding='0', border='0')
                                    tbody
                                      tr(style='line-height:0px')
                                        td(style='padding-right: 0px;padding-left: 0px;', align='center')
                                img.center.fixedwidth(alt='Alternate text', src=host+'/images/app_image_2.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 297px; display: block;', title='Alternate text', width='297', border='0', align='middle')
                                //if mso
                                // [if (!mso)&(!IE)] <!
                                // <![endif]
                                //if (mso)|(IE)
                                //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffffff')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;', valign='top')
                                table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 20px; width: 95%;', valign='top', width='95%', height='20', cellspacing='0', cellpadding='0', border='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='20')
                                        span
                        table.social_icons(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;', valign='top', width='100%', cellspacing='0', cellpadding='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td(style='word-break: break-word; vertical-align: top; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;', valign='top')
                                table.social_table(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-tspace: 0; mso-table-rspace: 0; mso-table-bspace: 0; mso-table-lspace: 0;', valign='top', cellspacing='0', cellpadding='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top; display: inline-block; text-align: center;', valign='top', align='center')
                                      td(style='word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 4px; padding-left: 4px;', valign='top')
                                        a(href='https://www.facebook.com/', target='_blank')
                                          img(alt='Facebook', src=host+'/images/facebook2x.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;', title='Facebook', width='32', height='32')
                                      td(style='word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 4px; padding-left: 4px;', valign='top')
                                        a(href='https://twitter.com/', target='_blank')
                                          img(alt='Twitter', src=host+'/images/twitter2x.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;', title='Twitter', width='32', height='32')
                                      td(style='word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 4px; padding-left: 4px;', valign='top')
                                        a(href='https://instagram.com/', target='_blank')
                                          img(alt='Instagram', src=host+'/images/instagram2x.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;', title='Instagram', width='32', height='32')
                                      td(style='word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 4px; padding-left: 4px;', valign='top')
                                        a(href='https://www.linkedin.com/', target='_blank')
                                          img(alt='LinkedIn', src=host+'/images/linkedin2x.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;', title='LinkedIn', width='32', height='32')
                                      td(style='word-break: break-word; vertical-align: top; padding-bottom: 0; padding-right: 4px; padding-left: 4px;', valign='top')
                                        a(href='', target='_blank')
                                          img(alt='YouTube', src=host+'/images/youtube2x.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;', title='YouTube', width='32', height='32')
                        table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;', valign='top')
                                table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 5px; width: 95%;', valign='top', width='95%', height='5', cellspacing='0', cellpadding='0', border='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='5')
                                        span
                        //if mso
                          table(width='100%', cellspacing='0', cellpadding='0', border='0')
                            tbody
                              tr
                                td(style='padding-right: 40px; padding-left: 40px; padding-top: 0px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                        div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:2;padding-top:0px;padding-right:40px;padding-bottom:10px;padding-left:40px;')
                          div(style='line-height: 2; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 24px;')
                            p(style='font-size: 14px; line-height: 2; word-break: break-word; text-align: center; mso-line-height-alt: 28px; margin: 0;')
                              | If you have any questions, feel free message us at support@mailus.com. All right reserved.
                              | Update 
                              a(href='#', rel='noopener', style='text-decoration: none; color: #555555;', target='_blank') email preferences
                              |  or 
                              a(href='#', rel='noopener', style='text-decoration: none; color: #555555;', target='_blank') unsubscribe
                              | .
                        //if mso
                        //if mso
                          table(width='100%', cellspacing='0', cellpadding='0', border='0')
                            tbody
                              tr
                                td(style='padding-right: 40px; padding-left: 40px; padding-top: 0px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                        div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:2;padding-top:0px;padding-right:40px;padding-bottom:10px;padding-left:40px;')
                          div(style='line-height: 2; font-size: 12px; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 24px;')
                            p(style='font-size: 14px; line-height: 2; word-break: break-word; text-align: center; mso-line-height-alt: 28px; margin: 0;')
                              | 5781 Spring St Salinas, Idaho 88606 United States
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:#ffffff')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:0px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        //if mso
                          table(width='100%', cellspacing='0', cellpadding='0', border='0')
                            tbody
                              tr
                                td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                        div(style='color:#ffffff;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                          div(style='line-height: 1.2; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #ffffff; mso-line-height-alt: 14px;')
                            p(style='font-size: 12px; line-height: 1.2; text-align: center; word-break: break-word; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 14px; margin: 0;')
                              span(style='color: #555555;')
                                | Terms of use 
                                strong |
                                |  Privacy Policy
                        //if mso
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        .img-container.center.autowidth(style='padding-right: 0px;padding-left: 0px;', align='center')
                          //if mso
                            table(width='100%', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr(style='line-height:0px')
                                  td(style='padding-right: 0px;padding-left: 0px;', align='center')
                          img.center.autowidth(alt='Alternate text', src=host+'/images/white_down.png', style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 700px; display: block;', title='Alternate text', width='700', border='0', align='middle')
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  //if (mso)|(IE)
                    table(style='background-color:transparent;', width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(align='center')
                            table(style='width:700px', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr.layout-full-width(style='background-color:transparent')
                  //if (mso)|(IE)
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
                  .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                    div(style='width:100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', width='100%', cellspacing='0', cellpadding='0', border='0')
                          tbody
                            tr(style='vertical-align: top;', valign='top')
                              td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;', valign='top')
                                table.divider_content(role='presentation', style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 5px; width: 100%;', valign='top', width='100%', height='5', cellspacing='0', cellpadding='0', border='0', align='center')
                                  tbody
                                    tr(style='vertical-align: top;', valign='top')
                                      td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;', valign='top', height='5')
                                        span
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                        //if (mso)|(IE)
                        //if (IE)
